In [ ]:
## Nettoyage de données avec pandas

In [2]:
import numpy as np
import pandas as pd

In [43]:
# charger le fichier json
df = pd.read_json('fichiers/data_ech.json')

#afficher les premieres lignes
df.head()
# La lecture s'est faite par rapport à l'ordre alphabétique des noms de colonnes.

    age  id
0  18.0  10
1  25.0  11
2   NaN  12
3  45.0  13
4  29.0  14

In [44]:
#Réarranger le dataframe pour mettre les ID en premier puis la colonne age

df = df[['id', 'age']]
#On remarque la présence de NaN, valeur inconnue
df.head()

   id   age
0  10  18.0
1  11  25.0
2  12   NaN
3  13  45.0
4  14  29.0

* Stratégie 1: supprimer la ligne qui contient un NaN

In [45]:
df.dropna(inplace=True)
df.head

<bound method NDFrame.head of    id   age
0  10  18.0
1  11  25.0
3  13  45.0
4  14  29.0>

* Stratégie 2: supprimer la colonne qui contient un NaN

In [46]:
#Lire le fichier csv
df2 = pd.read_csv('fichiers/data_ech.csv')
df2.head()

   id  poids  taille
0  10     81   159.0
1  11     75   168.0
2  12     73     NaN
3  13   -999   179.0
4  64     79   195.0

* Si l'on compare df et df2, on constate que la serie -Taille- n'est pas disponible dans df. On suppose que cette serie n'est pas intéressante
pour notre analyse.

In [47]:
# Supprimer la colonne taille au lieu de la ligne qui contient NaN
df2.drop('taille', axis=1, inplace=True)

In [48]:
#Verifier s'il y'a des NaN dans la colonne poids de df2
sum(df2['poids'].isnull())

0

In [60]:
#Faire un merge de df et df2
df_res = pd.merge(df, df2,on='id')
df_res.head()

TypeError: 'DataFrame' object is not callable

In [51]:
#On fait sortir les stats
df_res.describe()

              id        age       poids
count   3.000000   3.000000    3.000000
mean   11.333333  29.333333 -281.000000
std     1.527525  14.011900  621.813477
min    10.000000  18.000000 -999.000000
25%    10.500000  21.500000 -462.000000
50%    11.000000  25.000000   75.000000
75%    12.000000  35.000000   78.000000
max    13.000000  45.000000   81.000000

In [62]:
#Il semble que le poids est negatif et ne correspond pas à la réalité
#Supprimer les lignes avec le poids negatif
df =df_res[df_res['poids'] > 0]

df.head()

   id   age  poids
0  10  18.0     81
1  11  25.0     75